{% extends 'index.html' %}
{%block title%}WeShare | Log-in{% endblock %}
{% block content %}
  <form
    class="card w-100 mx-4 p-4 pb-3 m-2 mx-auto mt-5 rounded-3 bg-dark"
    method="POST"
    action="{% url 'Login' %}"
    style="max-width: 400px"
  >
    {% csrf_token %}
    <h1 class="h3 mb-0 fw-bold pb-4 pt-2">Log In</h1>

    <div class="form-floating my-3">
      <input
        name="username"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput" class="text-dark fs-6">Username</label>
    </div>
    <div class="form-floating">
      <input
        name="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword" class="text-dark fs-6">Password</label>
    </div>

    <div class="checkbox my-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button class="w-100 btn btn-lg btn-warning" type="submit">
      Sign in
    </button>

    <div class="w-100 mt-4 d-flex justify-content-center">
      <span style="margin-right: 10px;">New here?</span>
      <a href="/signup" class="text-decoration-none text-warning">Sign Up!</a>
    </div>
  </form>


{% endblock %}
