{% extends 'index.html' %}

{% block content %}
  {% include 'includes/header.html' %}

  <form
    class="card w-100 mx-4 p-4 m-2 mx-auto mt-5 rounded-3 bg-dark"
    style="max-width: 400px"
    method="POST"
    action="{% url 'Signup' %}"
  >
    {% csrf_token %}
    <h1 class="h3 mb-0 fw-bold pb-4 pt-2">Sign Up</h1>

    {% for field in form %}
      <div class="form-floating my-2">
        <input name="{{ field.name }}" {% if field.name == 'username' %} type="text"
        {% else %} type="password" {% endif %} class="form-control"
        id="floatingPassword" placeholder="{{ field.label }}">
        <label for="floatingPassword" class="text-dark fs-6">{{ field.label }}</label>
      </div>
    {% endfor %}

    <button class="w-100 fw-normal btn btn-lg btn-warning mt-2" type="submit">
      Register
    </button>

    <div class="w-100 mt-4 d-flex justify-content-center">
      <span style="margin-right: 10px;">Already have an account?</span>
      <a href="/login" class="text-decoration-none text-warning">Login!</a>
    </div>
  </form>

{% endblock %}
