<header class="row-md py-2 text-white bg-dark sticky-top">
  <div class="container d-flex flex-wrap">
    <div class="nav me-auto">
      <a class="text-decoration-none text-light" href="{% url 'visitor-home' %}"
        ><h3 id="logo" class="px-3">WeShare</h3></a
      >
    </div>    
    {% if is_show_option == True %}
    {% if not user.is_authenticated %}
    <ul class="nav px-md-3">
      <li class="nav-item">
        <a href="{% url url %}" class="nav-link text-light px-2">{{text | title}}</a>
      </li>
      <li class="nav-item btn-warning rounded">
        <a href="{% url "Signup"%}" class="nav-link text-dark px-2">Sign up</a>
      </li>
      {% else %}
        <li id="nav-icon-holder" class="nav-item d-flex align-self-center justify-content-between btn-warning rounded">
          <div class="px-3 py-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </div>
        </li>
      {% endif %}
      {% endif %}
    </ul>
  </div>
</header>
