<header class="py-2 text-white bg-dark border-bottom w-100">
  <div class="container d-flex flex-wrap">
    <div class="nav me-auto">
      <a class="text-decoration-none text-light" href="{% url 'visitor-home' %}"
        ><h3 id="logo" class="px-2">WeShare</h3></a
      >
    </div>
    <ul class="nav px-3">
      <li class="nav-item">
        <a href="/login" class="nav-link text-light px-2">Login</a>
      </li>
      <li class="nav-item btn-warning rounded">
        <a href="/signup" class="nav-link text-dark px-2">Sign up</a>
      </li>
    </ul>
  </div>
</header>
