

<header class="row-md py-3 text-white bg-dark sticky-top  border-bottom border-secondary" style="z-index: 1;">
  <div class="container d-flex flex-wrap align-items-center">
    <div class="me-auto">
      <a class="text-decoration-none text-light" href="{% url 'visitor-home' %}">
        <img src="/media/assets/logo.svg" alt="logo" style="height: 40px;">
      </a>
    </div>    
    {% if not user.is_authenticated %}
    <ul class="nav px-md-3 d-flex align-items-center">
      {% for link in Links %}
      <li id="links"  class="nav-item" style="margin-left: 10px;">
        <a id="linksText" href="{% url link.url %}" class="nav-link px-2">{{ link.text | title}}</a>
      </li>
      {% endfor %}
      {% else %}
        <li id="nav-icon-holder" class="nav-item d-flex align-self-center justify-content-between btn-secondary rounded" style="cursor: pointer;">
          <div class="px-3 py-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </div>
        </li>
      {% endif %}
    </ul>
  </div>
</header>
