{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'styles/navbar.css'%}" />
</head>

<aside id="aside" class="navbar row col-md-2 position-fixed">
  <div class="navbar-wrapper bg-dark vh-100 wh-100">
    <div class="mt-4 image-wrapper">
      <img
        id="profile-picture"
        class="image"
        src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="profile"
      />
    </div>
    <div class="data-wrapper">
      <div class="profile_name">
        <p>{{request.user}}</p>
      </div>

      <div class="nav-options mt-4">
        <ul class="list-unstyled h-75 d-flex flex-column">
          <li
            class="p-3 m-auto justify-content-center align-items-center d-flex"
          >
            <a class="nav-link text-light" href="{% url 'Profile' %}"
              >Profile</a
            >
          </li>
          <li
            class="p-3 m-auto justify-content-center align-items-center d-flex"
          >
            Friends
          </li>
          <li
            class="p-3 m-auto justify-content-center align-items-center d-flex"
          >
            Settings
          </li>
          <li
            class="p-3 m-auto justify-content-center align-items-center d-flex"
          >
            <a
              href="{% url 'Logout'%}"
              class="nav-link bg-danger py-2 px-4 text-white"
              style="border-radius: 10px;"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
