<aside id="aside" class='col-md-3 mt-md-3 border border-warning h-100'>
    <div class="row bg-dark h-100 pb-2" >
        <div class='d-flex h-25 justify-content-center pt-3'>
            <img
            id="profile-picture"
            class="img-fluid p-1 rounded-circle border border-white"
            src="https://images.pexels.com/photos/210019/pexels-photo-210019.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="profile"
        />
        </div>
        <div class='row-md' align="center">
            <p class='col-md text-break fs-6 text-capitalize text-black w-75 bg-white mt-5 fw-bolder rounded'>
                {{ user.auth.email }}
            </p>
        <ul class="list-unstyled h-75 d-flex flex-column " >
            <li class="p-3 m-auto justify-content-center align-items-center d-flex">
                <a class='nav-link text-light' href="{% url 'Profile' %}">Profile</a>
                </li>
            <li class="p-3 m-auto justify-content-center align-items-center d-flex">Settings</li>
            <li class="p-3 m-auto justify-content-center align-items-center d-flex">Help-Support</li>
            <li class="p-3 m-auto justify-content-center align-items-center d-flex">
                <div class="bg-warning py-2 px-4 rounded text-black">Logout</div>
                </li>
        </ul>
        </div>
    </div>
</aside>