<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@bf7775b/css/all.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About Us</title>
  </head>
  <body class="bg-slate-900 text-slate-50">
    <div class="max-w-[1200px] mx-auto p-4 pt-10">
      <a href="/" class="text-slate-500 text-sm font-semibold"
        >Return to homepage.</a
      >

      <div class="mt-10">
        <h1 class="text-2xl text-slate-50 font-bold mb-10">About Us</h1>

        <div
          class="grid  xl:grid-cols-[300px_minmax(500px,_1fr)_100px]  mt-5 xl:divide-x-[2px] divide-slate-700"
        >
          <div class="grid text-center mb-5">
            <div class="mt-[60px]">
              <img
                class="rounded-full shadow-lg mx-auto"
                src="https://scontent.fceb2-1.fna.fbcdn.net/v/t1.6435-1/172129332_4166846253353408_187948056013902961_n.jpg?stp=c1110.198.625.625a_dst-jpg_s200x200&_nc_cat=108&ccb=1-6&_nc_sid=7206a8&_nc_eui2=AeHBViONOa__EyyNGHGmy1_-ps7n-YJZFsWmzuf5glkWxYqmNuLMo-QvsQ-NmSni6jwTa5i_yFdUT4RNyDshIWlc&_nc_ohc=a49VHmKJNvwAX9KwUHn&_nc_ht=scontent.fceb2-1.fna&oh=00_AT-SBxBjyzGaFop3FgZKBvQVfpdr0G2MgFYcR2E8HKYRQA&oe=629D3649"
                alt=""
              />
              <div class="grid place-items-center mt-4">
                <h2 class="font-bold">Jessie Paragas</h2>
                <p class="text-sm text-slate-400">Instructor</p>
              </div>
            </div>
          </div>
          <div class="mb-3">

            <h1 class="text-lg font-semibold ml-5 mb-10">Contributors:</h1>
            <div class="grid md:grid-cols-3 place-items-center px-6 gap-4">

              <div class="w-full">
                <img
                  class="rounded-full shadow-lg w-[200px] h-[200px] mx-auto"
                  src="https://scontent.fceb2-1.fna.fbcdn.net/v/t1.6435-1/104254086_4025069780897904_7371528439626420181_n.jpg?stp=c0.44.200.200a_dst-jpg_p200x200&_nc_cat=109&ccb=1-6&_nc_sid=7206a8&_nc_eui2=AeF3q6qiRuhuGa1JkPeznsHzeMTTGO5fZJh4xNMY7l9kmM39GX2nPSeh8Vo5xGM24oi5ZlriRvvouGGKU-C6zKNY&_nc_ohc=T1i4FZnyoKkAX-q_c0D&tn=QBO1MdhUJjuNg3XY&_nc_ht=scontent.fceb2-1.fna&oh=00_AT-qQKjHJoWtgFHt8GK8035vxdyrcxwJ8neNqRY2HqRfyQ&oe=629C90FD"
                  alt=""
                />
                <div class="grid place-items-center mt-4">
                  <h2 class="font-bold">John Jefferson Lebasora</h2>
                  <p class="text-sm text-slate-400">Lead Programmer</p>
                </div>

                <div class="mt-10 p-3 bg-slate-800 rounded-lg shadow-lg">
                  <div class="">
                    <div class="">
                      <i class="fad fa-info-circle"></i>
                      <span class="text-slate-500 font-semibold text-[12px] ">Course/Year/Section:</span>
                    </div>
                    <div class="ml-[22px]">BSIT 3E</div>
                  </div>

                  <div class="">
                      <p class="text-slate-500 font-semibold text-[12px] mt-5 mb-2">Connect:</p>
                      
                      <div class="flex">
                          <a target="_blank" class="mr-2 cursor-pointer bg-slate-700 rounded-full shadow-lg w-[40px] h-[40px] flex justify-center items-center hover:bg-slate-600 transition-all" href="https://github.com/LebasoraJohnJefferson"><i class="fab fa-github"></i></a>
                          <a target="_blank" class="cursor-pointer bg-slate-700 rounded-full shadow-lg w-[40px] h-[40px] flex justify-center items-center hover:bg-slate-600 transition-all" href="https://web.facebook.com/lebs.jj"><i class="fab fa-facebook-f"></i></i></a>
                      </div>
                  </div>
                </div>
              </div>

              

              <div class="w-full">
                <img
                  class="rounded-full shadow-lg w-[200px] h-[200px] mx-auto"
                  src="https://scontent.fceb2-2.fna.fbcdn.net/v/t1.6435-1/94030538_2111538625659559_2730329689527681024_n.jpg?stp=c40.28.169.169a_dst-jpg_p240x240&_nc_cat=107&ccb=1-6&_nc_sid=7206a8&_nc_eui2=AeHMYOzipIzft98x3bolXO3z-kzxJLs7E0X6TPEkuzsTReCNLWg3yvasNNCiuPwCXl5e4SVevYHwNT6QdE73pAoO&_nc_ohc=zAZuMa-O0iAAX9ShXCR&_nc_ht=scontent.fceb2-2.fna&oh=00_AT-EuBBBzWZITKBtWdL0snyTH9ZawkhUFasKZwUlA5U4CQ&oe=629C35FB"
                  alt=""
                />
                <div class="grid place-items-center mt-4">
                  <h2 class="font-bold">Luigi Loreno</h2>
                  <p class="text-sm text-slate-400">Programmer</p>
                </div>

                <div class="mt-10 p-3 bg-slate-800 rounded-lg shadow-lg">
                    <div class="">
                      <div class="">
                        <i class="fad fa-info-circle"></i>
                        <span class="text-slate-500 font-semibold text-[12px] ">Course/Year/Section:</span>
                      </div>
                      <div class="ml-[22px]">BSIT 3E</div>
                    </div>
  
                    <div class="">
                        <p class="text-slate-500 font-semibold text-[12px] mt-5 mb-2">Connect:</p>
                        
                        <div class="flex">
                            <a target="_blank" class="mr-2 cursor-pointer bg-slate-700 rounded-full shadow-lg w-[40px] h-[40px] flex justify-center items-center hover:bg-slate-600 transition-all" href="https://github.com/luigiloreno"><i class="fab fa-github"></i></a>
                            <a target="_blank" class="cursor-pointer bg-slate-700 rounded-full shadow-lg w-[40px] h-[40px] flex justify-center items-center hover:bg-slate-600 transition-all" href="https://web.facebook.com/LuigiCoolOfficial"><i class="fab fa-facebook-f"></i></i></a>
                        </div>
                    </div>
                  </div>
              </div>

              <div class="w-full">
                <img
                  class="rounded-full shadow-lg w-[200px] h-[200px] mx-auto"
                  src="https://scontent.fceb2-1.fna.fbcdn.net/v/t39.30808-1/280289448_4827258230735266_4435340819542217342_n.jpg?stp=dst-jpg_s200x200&_nc_cat=103&ccb=1-6&_nc_sid=7206a8&_nc_eui2=AeEzcmDTtTXFmMAONOBeeJ4hvGXTRCEappa8ZdNEIRqmlpNKdEEuLupRWy63pW8yX65BfsilBIWOTAiv6TJdVj_o&_nc_ohc=xjkItpMUp9IAX_RERS_&_nc_ht=scontent.fceb2-1.fna&oh=00_AT85nQexxdLgoRlJ4m1Wxnt7ZTHW7kQgeHIXlL_z93QMSA&oe=627BF4B2"
                  alt=""
                />
                <div class="grid place-items-center mt-4">
                  <h2 class="font-bold">Christian Paranas</h2>
                  <p class="text-sm text-slate-400">Programmer</p>
                </div>

                <div class="mt-10 p-3 bg-slate-800 rounded-lg shadow-lg">
                    <div class="">
                      <div class="">
                        <i class="fad fa-info-circle"></i>
                        <span class="text-slate-500 font-semibold text-[12px] ">Course/Year/Section:</span>
                      </div>
                      <div class="ml-[22px]">BSIT 3E</div>
                    </div>
  
                    <div class="">
                        <p class="text-slate-500 font-semibold text-[12px] mt-5 mb-2">Connect:</p>
                        
                        <div class="flex">
                            <a target="_blank" class="mr-2 cursor-pointer bg-slate-700 rounded-full shadow-lg w-[40px] h-[40px] flex justify-center items-center hover:bg-slate-600 transition-all" href="https://github.com/christianparanas"><i class="fab fa-github"></i></a>
                            <a target="_blank" class="cursor-pointer bg-slate-700 rounded-full shadow-lg w-[40px] h-[40px] flex justify-center items-center hover:bg-slate-600 transition-all" href="https://web.facebook.com/christianparanas"><i class="fab fa-facebook-f"></i></i></a>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
