

.feeds_container {
  min-height: 80vh;
  height: fit-content;
}

.feeds_container .no_post__wrapper {
  height: 300px;
  display: grid;
  place-items: center;
}

.post {
  border-radius: 8px;
}

.interact .item {
  border-radius: 8px;

}

.interact .item:hover {
  background-color: rgb(50, 48, 48);
  cursor: pointer;
}