#comment-section{
  height: 20rem;
  overflow-y: scroll;
}

#comment-section::-webkit-scrollbar {
  width: 7px;
}

#comment-section::-webkit-scrollbar-track {
  background: #888;
  border-radius:10px;
}

#comment-section::-webkit-scrollbar-thumb {
  background: #ffbb33;
  border-radius:10px;
}

#comment-section::-webkit-scrollbar-thumb:hover {
  background: #ffcc44;
}

.feeds_container {
  min-height: 80vh;
  height: fit-content;
}

.feeds_container .no_post__wrapper {
  height: 300px;
  display: grid;
  place-items: center;
}

.post {
  border-radius: 8px;
}

.interact .item {
  border-radius: 8px;

}

.interact .item:hover {
  background-color: rgb(50, 48, 48);
  cursor: pointer;
}