
.postcontent_container {
  border-radius: 8px;
}

.postcontent_container .form-wrapper textarea {
  background-color: rgb(30, 29, 29);
  outline: 0;
  border: 0;
  color: #fff;
  min-height: 100px;
}
